<nav-page id="app-page" ng-controller="AppCtrl">


  <!--
  Create tabs with an icon and text label, using the tabs-positive style (blue by default),
  and disabling header title animation when switching tabs.
  -->
  <tabs tabs-style="tabs-icon-top" tabs-type="tabs-positive" animate-nav="false">

    <!-- Pets tab -->
    <tab title="Chats" icon="icon ion-chatbubbles ion-homexxx" ng-controller="PetsTabCtrl">
      <content has-header="true" has-tabs="true">
        <list>
          <link-item ng-repeat="pet in pets" type="item-text-wrap" href="#/pet/{{pet.id}}">
              <h3>{{pet.title}}</h3>
              <p>{{pet.description}}</p>
            </item>
          </link-item>
        </list>
      </content>
    </tab>

    <!-- Adoption tab -->
    <tab title="Visitors" icon="icon ion-person-stalker">
      <content has-header="true" has-tabs="true">
        <div class="padding">
          <h2>Registration a pet today.</h2>
        </div>
        <div class="list list-inset">
          <label class="item item-input">
            <span class="input-label">Your name</span>
            <input type="text">
          </label>
          <label class="item item-input">
            <span class="input-label">Your email</span>
            <input type="password">
          </label>
          <label class="item item-input">
            <textarea placeholder="Any more info?"></textarea>
          </label>
          <button class="button button-positive button-block">Adopt</button>
        </div>
      </content>
    </tab>

    <!-- Home tab -->
    <tab title="About" icon="icon ion-search">
      <content has-header="true" has-tabs="true" padding="true">
        <h3>About this app</h3>
        <p>
          This is a sample seed project for the Ionic Framework. Please change it to match your needs.
          <br><a href="leaflet_mobile.html">leaflet</a>
        </p>
        
        <div class="list">


  <a class="item item-icon-left item-button-leftwww item-icon-rightxxx " href="#">
   
      <i class="icon ion-chatbubble-working balanced"></i>

    Nick March
 
   <span class="badge badge-balanced">+2</span>
    <!--<i class="icon ion-chevron-right balanced"></i>-->
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-chatbubble energized"></i>
    Jean Cliar  
     <span class="badge badge-dark">23</span>
  </a>
  
  <a class="item item-icon-left" href="#">
    <i class="icon ion-chatbubble stable"></i>
    Record album
    <span class="item-note">
      Grammy
    </span>
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Friends
    <span class="badge badge-assertive">0</span>
  </a>

</div>

      </content>
    </tab>
    
    <!-- Map tab -->
    <tab title="Map" icon="icon ion-map">
      <content has-header="true" has-tabs="true" padding="false">
  
        <!--<h3>About this app</h3>-->
       
        <div class="google-map" say-where="" latitude="33.6251892595411" longitude="-117.89167414257817"></div>

      </content>
                <script>
                /*
        function initialize() {
            var myLatlng = new google.maps.LatLng( 51.520838, -0.140261 );
            var myOptions = {
                zoom: 15,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            var map = new google.maps.Map( document.getElementById( "map_canvas" ), myOptions );
        }
        */
    </script>  
    </tab>

  </tabs>
</nav-page>

